<div class="search-form">
  <div class="search-input-container">
    <input type="text" id="search-input" placeholder="Search articles...">
    <button id="clear-search" class="clear-button">&times;</button>
  </div>
</div>

<div class="results-info">
  <p id="results-count">Showing <span id="count">0</span> articles</p>
</div>

<div id="search-results" class="articles-list"></div> 