<div class="search-container">
  <h1>Instant Article Search</h1>
  
  <%= render 'search_form' %>
  
  <%= render 'analytics_display' %>
</div>

<%= javascript_include_tag "search" %>
<%= stylesheet_link_tag "search" %> 